html {
    background: url('/styles/img/bg.avif') center/cover no-repeat;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    width: 200px;
}

button {
    margin: 40px;
}

#loading {
    width: 7.5vh;
}

footer {
    width: 15em;
}

footer h5 {
    margin: 1vh;
}

#register {
    margin-bottom: 0.5vh !important;
}

@media (max-width: 900px) {

    .mainMenu {
        margin-bottom: 10vh;
    }

    footer {
        width: 100%;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
}