html, body {
    height: 100vh;
}

html {
    background: url('/styles/img/bg_index.jpg') center/cover no-repeat;
}

body {
    margin: 0;
}

.homeContainer {
    position: fixed;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 12vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

#topLogo {
    display: block;
    margin: auto;
    padding-top: 10px;
}

#searchIco, #logoHome {
    margin-bottom: 4em;
}

#searchIco, #profileIco {
    display: grid;
    width: 4em;
}

.imageContainer {
    display: flex;
    transform: translateY(40%);
    justify-content: center;
}

.imageDisplay {
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imageDisplay img {
    width: 20vw;
    height: auto;
    border-radius: 10px;
}

.songDetails {
    width: 40%;
    height: 25vw;
    padding-inline: 2.5vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

table th, table td {
    padding: 1em;
}

table td {
    font-size: x-large;
}

@media screen and (max-width: 1300px) {
    .imageContainer {
        flex-direction: column;
        align-items: center;
        transform: translateY(5%);
    }

    .imageDisplay {
        width: 40vh;
        height: 40vh;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .imageDisplay img {
        width: 30vh;
        height: 30vh;
        border-radius: 10px;
    }

    .songDetails {
        width: 35vh;
        height: 45vh;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        overflow-y: scroll;
    }

    .songDetails table {
        width: fit-content;
    }

    table td {
        font-size: medium;
    }
}
